{% extends "base.html.j2" %}

{% block breadcrumb %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="bg-light rounded">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">Accueil</a></li>
    <li class="breadcrumb-item">Administration</li>
  </ol>
</nav>
{% endblock %}

{% block app_content %}
<h1>Administration</h1>
<div class="row row-cols-1 row-cols-md-4 g-4 mt-5">
  <div class="col">
    <div class="card border-dark text-center ms-auto me-auto" style="max-width: 18rem; min-width: 9rem;">
      <a href="{{ url_for('admin.theaters') }}">
        <div class="card-header bg-light">Cinémas</div>
        <div class="card-body bg-transparent">
          <i class="card-text fa-solid fa-photo-film fa-5x"></i>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}
