{% extends "base.html.j2" %}

{% block breadcrumb %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="bg-light rounded">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">Accueil</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('admin.home') }}">Administration</a></li>
    <li class="breadcrumb-item">Cinémas</li>
  </ol>
</nav>
{% endblock %}

{% block app_content %}
<h1>Cinémas</h1>
<div class="row justify-content-md-center">
  <div class="col col-lg-6 p-6 text-center d-flex flex-column">
    <div class="row">
      <div class="col-md-8 text-start ">
        <a class="btn btn-primary" href="{{ url_for('admin.add_theater') }}">
          <i class="fa-solid fa-circle-plus me-2"></i>Ajouter un cinéma
        </a>
      </div>
      <div class=" col-md-4">
        <form class="navbar-form navbar-left" method="get" action="{{ url_for('admin.theaters') }}">
          <div class="input-group mb-3">
            {{ search_form.q(size=20, class='form-control', placeholder=search_form.q.label.text) }}
            <button class="btn btn-outline-secondary" type="button" id="button-addon2"
              onclick="this.form.elements['q'].value='';this.form.submit();">
              <i class="fa-solid fa-circle-xmark"></i>
            </button>
          </div>
        </form>
      </div>
    </div>


    <table class="table table-striped text-start align-middle">
      <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Ville</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for theater in theaters %}
        <tr>
          <td>
            <a href="{{ url_for('main.theater_index', theater_id=theater.id) }}">{{ theater.name }}</a>
          </td>
          <td>{{ theater.city }}</td>
          <td>
            <a class="btn btn-sm btn-primary" href="{{ url_for('admin.edit_theater', theater_id=theater.id) }}">
              <i class="fa-solid fa-pen"></i>
            </a>
            <a class="btn btn-sm btn-danger deleteTheaterLink"
              href="{{ url_for('admin.remove_theater', theater_id=theater.id) }}">
              <i class="fa-solid fa-trash"></i>
            </a>

          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="row">
      <nav aria-label="Film navigation" class="d-flex justify-content-md-center">
        <ul class="pagination pagination-sm">
          <li class="page-item{% if not prev_url %} disabled{% endif %}">
            <a class="page-link" href="{{ prev_url }}">
              <span aria-hidden="true">&larr;</span> Précédents
            </a>
          </li>
          <li class="page-item page-link disabled">{{ pagenum }}</li>
          <li class="page-item{% if not next_url %} disabled{% endif %}">
            <a class="page-link" href="{{ next_url }}">
              Suivants <span aria-hidden="true">&rarr;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  var elems = document.getElementsByClassName('deleteTheaterLink');
  const confirmTheaterDelete = (ev) => {
    if (!confirm('Supprimer la salle supprimera l\'ensemble des salles, séances et utilisateurs associés.\nêtes - vous sûr ? ')) {
      ev.preventDefault()
    }
  }
  for (var i = 0, l = elems.length; i < l; i++) {
    elems[i].addEventListener('click', confirmTheaterDelete, false);
  }
</script>
{% endblock %}
