{% extends "theater.html.j2" %}
{% set active = "auditoriums" %}

{% block tab_content %}
<h2>Salles</h2>
{% if auditoriums | length == 0 %}
<div class="alert alert-info" role="alert">
  <i class="fa-solid fa-info-circle me-2"></i>Ce cinéma ne dispose pas encore de salle<br />
  <a class="btn btn-sm btn-primary mt-2" href="{{ url_for('main.add_auditorium', theater_id=theater.id) }}">
    <i class="fa-solid fa-circle-plus me-2"></i>Ajouter une salle
  </a>
</div>

{% else %}
<div class="row">
  <div class="col-md-4">
    <a class="btn btn-sm btn-primary" href="{{ url_for('main.add_auditorium', theater_id=theater.id) }}">
      <i class="fa-solid fa-circle-plus me-2"></i>Ajouter une salle
    </a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Salle</th>
          <th scope="col">Capacité</th>
          <th scope="col">Numéro CDS</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {%- for auditorium in auditoriums %}
        <tr>
          <td>{{ auditorium.name }}</td>
          <td>{{ auditorium.capacity }}</td>
          <td>{% if auditorium.cds_auditorium_number %}{{ auditorium.cds_auditorium_number }}{% endif %}</td>
          <td>
            <a class="btn btn-sm btn-primary"
              href="{{ url_for('main.edit_auditorium', theater_id=theater.id, id=auditorium.id) }}">
              <i class="fa-solid fa-pen"></i>
            </a>
            <a class="btn btn-sm btn-danger deleteAuditoriumLink"
              href="{{ url_for('main.remove_auditorium', theater_id=theater.id, id=auditorium.id) }}">
              <i class="fa-solid fa-trash"></i>
            </a>
          </td>
        </tr>
        {%- endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
  var elems = document.getElementsByClassName('deleteAuditoriumLink');
  const confirmAuditoriumDelete = (ev) => {
    if (!confirm('Supprimer la salle supprimera l\'ensemble des séances associées.\nêtes-vous sûr ?')) {
      ev.preventDefault()
    }
  }
  for (var i = 0, l = elems.length; i < l; i++) {
    elems[i].addEventListener('click', confirmAuditoriumDelete, false);
  }
</script>
{% endblock %}
