{% extends "theater.html.j2" %}
{% set active = "data_import" %}

{% block tab_content %}
<h2>Import des données</h2>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Configuration de l'import CDS</h5>

        <form method="post">
          {{ form.hidden_tag() }}

          <div class="mb-3">
            {{ form.cds_import_url.label(class="form-label") }}
            <div class="input-group">
              {{ form.cds_import_url(class="form-control" + (" is-invalid" if form.cds_import_url.errors else "")) }}
              {{ form.submit(class="btn btn-primary") }}
              {% if form.cds_import_url.errors %}
                <div class="invalid-feedback">
                  {% for error in form.cds_import_url.errors %}
                    {{ error }}
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            {% if form.cds_import_url.description %}
              <div class="form-text">{{ form.cds_import_url.description }}</div>
            {% endif %}
          </div>
        </form>

        {% if theater.cds_import_url %}
          <hr>
          <h5 class="card-title">Lancer l'import</h5>
          <p class="card-text">
            Cliquez sur le bouton ci-dessous pour lancer l'import des séances depuis CDS.
          </p>
          <a href="{{ url_for('main.run_data_import', theater_id=theater.id) }}"
             class="btn btn-primary">
            <i class="fa-solid fa-file-import me-2"></i>Lancer l'import
          </a>
        {% endif %}

        {% if import_log %}
          <hr>
          <h5 class="card-title">Résultat de l'import</h5>
          <div class="alert alert-info">
            <ul class="mb-0">
              {% for log_entry in import_log %}
                <li>{{ log_entry }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
