{% extends "theater.html.j2" %}

{% block head %}
{{ super() }}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block tab_content %}
<div class="container">
    <h2>{{ header }}</h2>
    <form method="post">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.start.label(class="form-label") }}
            {{ form.start(class="form-control" + (" is-invalid" if form.start.errors else "")) }}
            {% for error in form.start.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.end.label(class="form-label") }}
            {{ form.end(class="form-control" + (" is-invalid" if form.end.errors else "")) }}
            {% for error in form.end.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.film_id.label(class="form-label") }}
            {{ form.film_id(class="form-control select2-film" + (" is-invalid" if form.film_id.errors else "")) }}
            {% for error in form.film_id.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.auditorium_id.label(class="form-label") }}
            {{ form.auditorium_id(class="form-control" + (" is-invalid" if form.auditorium_id.errors else "")) }}
            {% for error in form.auditorium_id.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.showtype_id.label(class="form-label") }}
            {{ form.showtype_id(class="form-control" + (" is-invalid" if form.showtype_id.errors else "")) }}
            {% for error in form.showtype_id.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
        </div>

        <div class="mb-3 form-check">
            {{ form.exclude_from_internet(class="form-check-input" + (" is-invalid" if form.exclude_from_internet.errors else "")) }}
            {{ form.exclude_from_internet.label(class="form-check-label") }}
            {% for error in form.exclude_from_internet.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.submit(class="btn btn-primary") }}
            {{ form.cancel(class="btn btn-secondary") }}
        </div>
    </form>
</div>
{% if show %}
<div class="container">
    <h2>Assignations</h2>
    <ul>
      {%- for p in theater.get_positions() %} {# for position #}
        {%- set a = show.get_assignation_for(p) %}
        <li>
          {{ p.name }} :
          {% if a %}
          <span id="userassigned-{{ show.id }}-{{ p.id }}">
            <a href="{{ url_for('main.user_mugshot', theater_id=theater.id, user_id=a.user.id) }}">
              {{ a.user.full_name }}
            </a>
          </span>
          {% else %}
          <span id="userassigned-{{ show.id }}-{{ p.id }}">-</span>
          {% endif %}
          <a class="text-danger" data-bs-toggle="collapse" data-bs-target="#assign-{{ show.id }}-{{ p.id }}" role="button" aria-expanded="false" aria-controls="assign-{{ show.id }}-{{ p.id }}">
            <i class="fa-solid fa-pencil"></i>
          </a>
          <div class="collapse" id="assign-{{ show.id }}-{{ p.id }}">
            <select class="form-select form-select-sm" data-show-id="{{ show.id }}" data-position-id="{{ p.id }}" onchange="applyAssignation(this)">
              <option value="0" {% if not a %} selected{% endif %}>-</option>
              {% for user in p.get_assignable_users() | sort(attribute="full_name") %} {# for assignable_user #}
              <option value="{{ user.id }}-{{ user.full_name }}" {%- if a and user.username==a.user.username %} selected{% endif %}>
                {{ user.full_name }}
              </option>
              {%- endfor %} {# for assignable_user #}
            </select>
          </div>
        </li>
      {% endfor %}
    </ul>
</div>
{% endif %}
{% if show %}
<div class="container mt-4">
    <h2>Commentaires</h2>

    {# Bouton pour ajouter un commentaire #}
    <button type="button" class="btn btn-primary mb-3" onclick="prepareCommentModal()">
        <i class="fa-solid fa-comment-medical me-2"></i> Ajouter un commentaire
    </button>

    {# Table des commentaires existants #}
    <table class="table">
        <thead>
            <tr>
                <th>Message</th>
                <th>Visible par</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in show.get_all_comments() %}
            <tr>
                <td>{{ comment.message }}</td>
                <td>
                    {% set groups = comment.get_target_groups() %}
                    {% set positions = comment.get_target_positions() %}
                    {% if not groups and not positions %}
                        Tous
                    {% else %}
                        {% if groups %}
                        <strong>Équipes:</strong>
                        {{ groups|map(attribute='name')|join(', ') }}<br>
                        {% endif %}
                        {% if positions %}
                        <strong>Postes:</strong>
                        {{ positions|map(attribute='name')|join(', ') }}
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if current_user.is_theater_admin(theater) or comment.author == current_user %}
                    <button class="btn btn-sm btn-warning me-1"
                            onclick="prepareCommentModal('{{ comment.id }}', '{{ comment.message|e }}', {{ comment.get_target_groups()|map(attribute='id')|list }}, {{ comment.get_target_positions()|map(attribute='id')|list }})">
                        <i class="fa-solid fa-pencil"></i>
                    </button>
                    <button class="btn btn-sm btn-danger"
                            onclick="deleteComment('{{ url_for('main.delete_show_comment', theater_id=theater.id, show_id=show.id, comment_id=comment.id) }}')">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% include 'theater/show_comment_modal.html.j2' %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
  const applyAssignation = (select) => {
    const show = select.dataset.showId;
    const position = select.dataset.positionId;
    const userId = select.value.split("-")[0];
    var username = select.value.split("-")[1];
    if (username === undefined) username = "-";
    const url = `/show/${show}/${position}/assign/${userId}`
    fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      }
    }).then(response => response.json()).then(data => {
      if (!data.ok) {
        alert(data.message);
        // We reload to refresh state
        // We use force-reload here (true) to avoid the browser trying to keep
        // form values and mangle them because we added or removed text inputs
        window.location.reload(true)
      } else {
        // Update user assigned
        const element = document.getElementById(`userassigned-${show}-${position}`);
        if (userId !== "0") {
          element.innerHTML = `<a href="/theater/{{ theater.id }}/user/${userId}/mugshot">${username}</a>`;
        } else {
          element.innerHTML = username;
        }
        // Collapse div with id assign-${show}-${position}
        const bsCollapse = new bootstrap.Collapse(`#assign-${show}-${position}`, {
          toggle: false
        })
        bsCollapse.hide();
      }
    }).catch(error => {
      console.error(error);
      alert("Une erreur s'est produite");
      // We reload to refresh state
      // We use force-reload here (true) to avoid the browser trying to keep
      // form values and mangle them because we added or removed text inputs
      window.location.reload(true)

    });
  };

$(document).ready(function() {
    $('.select2-film').select2({
        ajax: {
            url: '{{ url_for("main.film_autocomplete", theater_id=theater.id) }}',
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    q: params.term
                };
            },
            processResults: function (data) {
                return {
                    results: data
                };
            },
            cache: true
        },
        language: {
            errorLoading: function() {
                return "Les résultats ne peuvent pas être chargés.";
            },
            inputTooShort: function(args) {
                var remainingChars = args.minimum - args.input.length;
                return "Veuillez saisir " + remainingChars + " caractère" + (remainingChars > 1 ? "s" : "") + " de plus";
            },
            noResults: function() {
                return "Aucun résultat trouvé";
            },
            searching: function() {
                return "Recherche en cours...";
            }
        },
        minimumInputLength: 2,
        placeholder: 'Rechercher un film...'
    });

    {% if form.show and form.show.film %}
    // Pre-select current film if editing
    var filmOption = new Option('{{ form.show.film.title }}', {{ form.show.film.id }}, true, true);
    $('.select2-film').append(filmOption).trigger('change');
    {% endif %}
});

// Initialiser les popovers
document.addEventListener('DOMContentLoaded', function() {
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl, {
        sanitize: false,
        placement: 'bottom'
    }))
});

// Fonction pour supprimer un commentaire
function deleteComment(url) {
    if (confirm('Êtes-vous sûr de vouloir supprimer ce commentaire ?')) {
        fetch(url, {
            method: 'DELETE',
        })
        .then(response => response.json())
        .then(data => {
            if (data.ok) {
                window.location.reload();
            } else {
                alert(data.message || 'Une erreur est survenue');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Une erreur est survenue');
        });
    }
}

// Fonctions pour l'édition des commentaires
function prepareCommentModal(commentId = null, message = '', targetGroups = [], targetPositions = []) {
    const form = document.getElementById('comment-form');
    const title = document.getElementById('commentModalLabel');
    const submitBtn = document.getElementById('comment-submit');

    // Configurer le formulaire selon le mode (ajout/édition)
    if (commentId) {
        title.textContent = 'Modifier le commentaire';
        form.action = `{{ url_for('main.edit_show_comment', theater_id=theater.id, show_id=show.id, comment_id=0) }}`.replace('/0', `/${commentId}`);
    } else {
        title.textContent = 'Nouveau commentaire';
        form.action = `{{ url_for('main.add_show_comment', theater_id=theater.id, show_id=show.id) }}`;
    }

    // Remplir les champs
    document.getElementById('comment-message').value = message;

    // Mettre à jour les groupes sélectionnés
    const groupSelect = document.getElementById('comment-target-groups');
    Array.from(groupSelect.options).forEach(option => {
        option.selected = targetGroups.includes(parseInt(option.value));
    });

    // Mettre à jour les positions sélectionnées
    const positionSelect = document.getElementById('comment-target-positions');
    Array.from(positionSelect.options).forEach(option => {
        option.selected = targetPositions.includes(parseInt(option.value));
    });

    // Mettre à jour le handler du bouton submit
    submitBtn.onclick = submitComment;

    // Afficher le modal
    const modal = new bootstrap.Modal(document.getElementById('commentModal'));
    modal.show();
}

function submitComment() {
    const form = document.getElementById('comment-form');
    const formData = new FormData(form);

    fetch(form.action, {
        method: 'POST',
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        if (data.ok) {
            window.location.reload();
        } else {
            alert(data.message || 'Une erreur est survenue');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('Une erreur est survenue');
    });

    // Fermer le modal
    const modal = bootstrap.Modal.getInstance(document.getElementById('commentModal'));
    modal.hide();
}

function clearSelect(selectId) {
    const select = document.getElementById(selectId);
    Array.from(select.options).forEach(option => {
        option.selected = false;
    });
}
</script>
{% endblock %}
