{% extends "base.html.j2" %}
{% import "bootstrap_wtf.html.j2" as wtf %}

{% block app_content %}
<h1>Edition groupe {{ group.name }}</h1>
<h2>Informations générales</h2>
<div class="row justify-content-md-left">
  <div class="col-md-4">
    {{ wtf.quick_form(form) }}
  </div>
</div>
<h2>Utilisateurs</h2>
{%- set users = group.get_users() %}
{%- if users | length == 0 %}
<div class="alert alert-info" role="alert">
  <i class="fa-solid fa-info-circle me-2"></i>Ce groupe ne dispose pas encore d'utilisateur
</div>
{%- else %}
<ul>
  {%- for user in users %}
  <li>{{ user.username }}</li>
  {%- endfor %}
</ul>
{%- endif %}
<h2>Permissions</h2>
{%- set perm_and_assignables = group.get_permissions_and_assignables() %}
{%- if perm_and_assignables | length == 0 %}
<div class="alert alert-info" role="alert">
  <i class="fa-solid fa-info-circle me-2"></i>Ce groupe ne dispose pas encore de permissions
</div>
{%- else %}
<div class="row justify-content-md-left">
  <div class="col-md-4">
    {%- if group.theater_admin %}
    <div class="alert alert-info" role="alert">
      <i class="fa-solid fa-info-circle me-2"></i>Ce groupe est administrateur du cinéma et a donc les permissions
      maximales sur l'ensemble des postes.
    </div>
    {%- endif %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Poste</th>
          <th scope="col" colspan="2">Permissions</th>
          <th scope="col" colspan="2">Assignable</th>
        </tr>
      </thead>
      <tbody>
        {%- for position, data in perm_and_assignables.items() %}
        <tr>
          <td>{{ position.name }}</td>
          <td>
            <select class="form-select form-select-sm selectPerm" id="select-perm-{{ position.id }}" {% if
              group.theater_admin %} disabled{% endif %} aria-label="Small select example">
              {% for ap in available_permissions %}
              <option value="{{ ap.name }}" {% if data.perm.permission.value==ap.value %} selected{% endif %}>{{
                ap.value }}
              </option>
              {%- endfor %}
            </select>
          </td>
          <td>
            <div id="save-select-perm-{{ position.id }}"></div>
          </td>
          <td>
            <div class="form-check form-switch">
              <input class="form-check-input assignableCheckbox" type="checkbox" value=""
                id="update-assignable-{{ position.id }}" {% if data.assignable %} checked{% endif %}>
            </div>
          </td>
          <td>
            <div id="save-update-assignable-{{ position.id }}"></div>
          </td>
        </tr>
        {%- endfor %}
      </tbody>
    </table>
  </div>
</div>
{%- endif %}
{% endblock %}

{% block scripts %}
<script>
  var elems = document.getElementsByClassName('selectPerm');
  const updatePerm = (ev) => {
    const positionId = parseInt(ev.currentTarget.id.split('-')[2])
    const value = ev.currentTarget.value
    const saveDiv = document.getElementById('save-' + ev.currentTarget.id)
    saveDiv.innerHTML = '<i class="fa-solid fa-floppy-disk text-secondary"></i>'
    const xhr = new XMLHttpRequest()
    xhr.open("POST", "{{ url_for('main.update_perm', theater_id=theater.id, id=group.id) }}", true)
    xhr.setRequestHeader('Content-type', 'application/json; charset=UTF-8');
    xhr.onreadystatechange = function () {
      if (xhr.readyState == XMLHttpRequest.DONE) {
        if (xhr.status < 300) {
          // Access the data returned by the server
          var data = xhr.responseText
          saveDiv.innerHTML = '<i class="fa-solid fa-circle-check text-success"></i>'
          // Clear visual indication after 1.5 seconds
          window.setTimeout(() => { saveDiv.innerHTML = '' }, 1500);
        } else {
          // Handle error
          saveDiv.innerHTML = '<i class="fa-solid fa-circle-xmark text-danger"></i>'
          console.log("Error updating perm: " + xhr.statusText)
        }
      }
    };
    xhr.send(
      JSON.stringify({
        positionId,
        value,
      })
    )
  }
  for (var i = 0, l = elems.length; i < l; i++) {
    elems[i].addEventListener('change', updatePerm, false);
  }

  assignableCBs = document.getElementsByClassName('assignableCheckbox');
  const updateAssignable = (ev) => {
    const positionId = parseInt(ev.currentTarget.id.split('-')[2])
    const value = ev.currentTarget.checked
    const saveDiv = document.getElementById('save-' + ev.currentTarget.id)
    saveDiv.innerHTML = '<i class="fa-solid fa-floppy-disk text-secondary"></i>'
    const xhr = new XMLHttpRequest()
    xhr.open("POST", "{{ url_for('main.update_assignable', theater_id=theater.id, id=group.id) }}", true)
    xhr.setRequestHeader('Content-type', 'application/json; charset=UTF-8');
    xhr.onreadystatechange = function () {
      if (xhr.readyState == XMLHttpRequest.DONE) {
        if (xhr.status < 300) {
          // Access the data returned by the server
          var data = xhr.responseText
          saveDiv.innerHTML = '<i class="fa-solid fa-circle-check text-success"></i>'
          // Clear visual indication after 1.5 seconds
          window.setTimeout(() => { saveDiv.innerHTML = '' }, 1500);
        } else {
          // Handle error
          saveDiv.innerHTML = '<i class="fa-solid fa-circle-xmark text-danger"></i>'
          console.log("Error updating perm: " + xhr.statusText)
        }
      }
    };
    xhr.send(
      JSON.stringify({
        positionId,
        value,
      })
    )
  }
  for (var i = 0, l = assignableCBs.length; i < l; i++) {
    assignableCBs[i].addEventListener('change', updateAssignable, false);
  }
</script>
{% endblock %}
