{% extends "theater.html.j2" %}
{% set active = "groups" %}

{% block tab_content %}
<h2>Salles</h2>
{% if groups | length == 0 %}
<div class="alert alert-info" role="alert">
  <i class="fa-solid fa-info-circle me-2"></i>Ce cinéma ne dispose pas encore de groupe<br />
  <a class="btn btn-sm btn-primary mt-2" href="{{ url_for('main.add_group', theater_id=theater.id)}}">
    <i class="fa-solid fa-circle-plus me-2"></i>Ajouter un groupe
  </a>
</div>

{% else %}
<div class="row">
  <div class="col-md-6">
    <a class="btn btn-sm btn-primary" href="{{ url_for('main.add_group', theater_id=theater.id)}}">
      <i class="fa-solid fa-circle-plus me-2"></i>Ajouter un groupe
    </a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Groupe</th>
          <th scope="col">Utilisateurs</th>
          <th scope="col">Administrateur du cinéma</th>
          <th scope="col">Permissions</th>
          <th scope="col" colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        {%- for group in groups %}
        <tr>
          <td>{{ group.name }}</td>
          <td>
            <ul>
              {%- for user in dbsession.scalars(group.users.select()) %}
              <li>{{ user.username }}</li>
              {%- endfor %}
            </ul>
          </td>
          <td>{{ group.theater_admin | toggle("OUI", "NON") }}</td>
          <td>
            <ul>
              {%- for position, data in group.get_permissions_and_assignables().items() %}
              <li>{{ position.name }}: {{ data.perm.permission.value }}</li>
              {%- endfor %}
            </ul>
          </td>
          <td>
            <a class="btn btn-sm btn-primary"
              href="{{ url_for('main.edit_group', theater_id=theater.id, id=group.id)}}">
              <i class="fa-solid fa-pen"></i>
            </a>
          </td>
          <td>
            <a class="btn btn-sm btn-danger deleteGroupLink"
              href="{{ url_for('main.remove_group', theater_id=theater.id, id=group.id) }}">
              <i class="fa-solid fa-trash"></i>
            </a>
          </td>
        </tr>
        {%- endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
  var elems = document.getElementsByClassName('deleteGroupLink');
  const confirmGroupDelete = (ev) => {
    if (!confirm('Supprimer le groupe supprimera l\'ensemble des permissions associées.\nêtes-vous sûr ?')) {
      ev.preventDefault()
    }
  }
  for (var i = 0, l = elems.length; i < l; i++) {
    elems[i].addEventListener('click', confirmGroupDelete, false);
  }
</script>
{% endblock %}
