{% extends "theater.html.j2" %}
{% set active = "index" %}

{% block tab_content %}
<h2>Informations</h2>
<div class="row">
  <div class="col-md-4">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th scope="row">Nom</th>
          <td>{{ theater.name }}</td>
        </tr>
        <tr>
          <th scope="row">Ville</th>
          <td>{{ theater.city }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
