{% extends "theater.html.j2" %}
{% set active = "motd" %}

{% block tab_content %}
<h2>Messages du jour</h2>
{% if motds | length == 0 %}
<div class="alert alert-info" role="alert">
  <i class="fa-solid fa-info-circle me-2"></i>Aucun message configuré<br />
  <a class="btn btn-sm btn-primary mt-2" href="{{ url_for('main.add_motd', theater_id=theater.id) }}">
    <i class="fa-solid fa-circle-plus me-2"></i>Ajouter un message
  </a>
</div>

{% else %}
<div class="row mb-3">
  <div class="col-6">
    <a class="btn btn-sm btn-primary" href="{{ url_for('main.add_motd', theater_id=theater.id) }}">
      <i class="fa-solid fa-circle-plus me-2"></i>Ajouter un message
    </a>
  </div>
  <div class="col-6 text-end">
    <a class="btn btn-sm btn-danger cleanupMOTDLink" href="{{ url_for('main.cleanup_motd', theater_id=theater.id) }}">
      <i class="fa-solid fa-broom me-2"></i>Nettoyer les messages expirés
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Message</th>
          <th scope="col">Couleur</th>
          <th scope="col">Groupes cibles</th>
          <th scope="col">Début</th>
          <th scope="col">Fin</th>
          <th scope="col">Statut</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {%- for motd in motds %}
        <tr class="align-middle">
          <td title="{{ motd.message }}">
            {%- set truncated = motd.message[:100] if motd.message|length > 100 else motd.message -%}
            {%- for line in truncated.splitlines() -%}
              {{- line -}}
              {%- if not loop.last -%}<br>{%- endif -%}
            {%- endfor -%}
            {%- if motd.message|length > 100 %}...{% endif -%}
          </td>
          <td><span class="badge text-bg-{{ motd.color }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
          <td>
            {% set target_groups = motd.get_target_groups() %}
            {% if target_groups|length == 0 %}
              <em>Tous</em>
            {% else %}
              {{ target_groups|map(attribute='name')|join(', ') }}
            {% endif %}
          </td>
          <td>{{ motd.start_date|human_date_short if motd.start_date else "N/A" }}</td>
          <td>{{ motd.end_date|human_date_short if motd.end_date else "N/A" }}</td>
          <td>
            {% if motd.is_active() %}
              <span class="badge text-bg-success">Actif</span>
            {% elif motd.is_future() %}
              <span class="badge text-bg-info">Programmé</span>
            {% elif motd.is_expired() %}
              <span class="badge text-bg-danger">Expiré</span>
            {% else %}
              <span class="badge text-bg-secondary">Inactif</span>
            {% endif %}
          </td>
          <td>
            <a class="btn btn-sm btn-primary" href="{{ url_for('main.edit_motd', theater_id=theater.id, id=motd.id) }}">
              <i class="fa-solid fa-pen"></i>
            </a>
            <a class="btn btn-sm btn-danger deleteMOTDLink" href="{{ url_for('main.remove_motd', theater_id=theater.id, id=motd.id) }}">
              <i class="fa-solid fa-trash"></i>
            </a>
          </td>
        </tr>
        {%- endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
  var deleteLinks = document.getElementsByClassName('deleteMOTDLink');
  const confirmMOTDDelete = (ev) => {
    if (!confirm('Êtes-vous sûr de vouloir supprimer ce message ?')) {
      ev.preventDefault();
    }
  }
  for (var i = 0; i < deleteLinks.length; i++) {
    deleteLinks[i].addEventListener('click', confirmMOTDDelete, false);
  }

  var cleanupLinks = document.getElementsByClassName('cleanupMOTDLink');
  const confirmMOTDCleanup = (ev) => {
    if (!confirm('Êtes-vous sûr de vouloir supprimer tous les messages expirés ?')) {
      ev.preventDefault();
    }
  }
  for (var i = 0; i < cleanupLinks.length; i++) {
    cleanupLinks[i].addEventListener('click', confirmMOTDCleanup, false);
  }
</script>
{% endblock %}
