{% extends "theater.html.j2" %}
{% set active = "positions" %}

{% block tab_content %}
<h2>Postes</h2>
{% if positions | length == 0 %}
<div class="alert alert-info" role="alert">
  <i class="fa-solid fa-info-circle me-2"></i>Ce cinéma ne dispose pas encore de poste<br />
  <a class="btn btn-sm btn-primary mt-2" href="{{ url_for('main.add_position', theater_id=theater.id) }}">
    <i class="fa-solid fa-circle-plus me-2"></i>Ajouter un poste
  </a>
</div>

{% else %}
<div class="row">
  <div class="col-md-4">
    <a class="btn btn-sm btn-primary" href="{{ url_for('main.add_position', theater_id=theater.id) }}">
      <i class="fa-solid fa-circle-plus me-2"></i>Ajouter un poste
    </a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Poste</th>
          <th scope="col" colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        {%- for position in positions %}
        <tr>
          <td>{{ position.name }}</td>
          <td>
            <a class="btn btn-sm btn-primary"
              href="{{ url_for('main.edit_position', theater_id=theater.id, id=position.id) }}">
              <i class="fa-solid fa-pen"></i>
            </a>
          </td>
          <td>
            <a class="btn btn-sm btn-danger deleteAPositionLink"
              href="{{ url_for('main.remove_position', theater_id=theater.id, id=position.id) }}">
              <i class="fa-solid fa-trash"></i>
            </a>
          </td>
        </tr>
        {%- endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
  var elems = document.getElementsByClassName('deletePositionLink');
  const confirmPositionDelete = (ev) => {
    if (!confirm('Etes-vous certain de vouloir supprimer le poste ?')) {
      ev.preventDefault()
    }
  }
  for (var i = 0, l = elems.length; i < l; i++) {
    elems[i].addEventListener('click', confirmPositionDelete, false);
  }
</script>
{% endblock %}
