{% extends "theater.html.j2" %}
{% set active = "showtypes" %}

{% block tab_content %}
<h2>Types de séance</h2>
{% if showtypes | length == 0 %}
<div class="alert alert-info" role="alert">
  <i class="fa-solid fa-info-circle me-2"></i>Ce cinéma ne dispose pas encore de type de séance<br />
  <a class="btn btn-sm btn-primary mt-2" href="{{ url_for('main.add_showtype', theater_id=theater.id) }}">
    <i class="fa-solid fa-circle-plus me-2"></i>Ajouter un type de séance
  </a>
</div>
{% else %}
<div class="row">
  <div class="col-md-4">
    <a class="btn btn-sm btn-primary" href="{{ url_for('main.add_showtype', theater_id=theater.id) }}">
      <i class="fa-solid fa-circle-plus me-2"></i>Ajouter un type de séance
    </a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Type de séance</th>
          <th scope="col">Couleur</th>
          <th scope="col">Description</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {%- for showtype in showtypes | sort(attribute='name') %}
        <tr>
          <td>{{ showtype.name }}</td>
          <td><span class="badge rounded-pill text-bg-{{ showtype.color }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
          <td>{{ showtype.description }}</td>
          <td>
            <a class="btn btn-sm btn-primary"
              href="{{ url_for('main.edit_showtype', theater_id=theater.id, id=showtype.id) }}">
              <i class="fa-solid fa-pen"></i>
            </a>
            <a class="btn btn-sm btn-danger deleteShowtypeLink"
              href="{{ url_for('main.remove_showtype', theater_id=theater.id, id=showtype.id) }}">
              <i class="fa-solid fa-trash"></i>
            </a>
          </td>
        </tr>
        {%- endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
{% endblock %}


{% block scripts %}
<script>
  var elems = document.getElementsByClassName('deleteShowtypeLink');
  const confirmShowtypeDelete = (ev) => {
    if (!confirm('Voulez-vous vraiment supprimer ce type de séance ?')) {
      ev.preventDefault()
    }
  }
  for (var i = 0, l = elems.length; i < l; i++) {
    elems[i].addEventListener('click', confirmShowtypeDelete, false);
  }
</script>
{% endblock %}
