<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commentModalLabel">Commentaire</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="comment-form" method="post">
            <div class="mb-3">
                <label for="comment-message" class="form-label">Message</label>
                <textarea class="form-control" id="comment-message" name="message" rows="3" required></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">Visible par</label>
                <div class="mb-2">
                    <label class="form-label">Équipes :</label>
                    <div class="input-group">
                        <select class="form-select" name="target_groups" id="comment-target-groups" multiple>
                            {% for group in theater.get_groups() %}
                            <option value="{{ group.id }}">{{ group.name }}</option>
                            {% endfor %}
                        </select>
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="clearSelect('comment-target-groups')">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                </div>
                <div>
                    <label class="form-label">Postes :</label>
                    <div class="input-group">
                        <select class="form-select" name="target_positions" id="comment-target-positions" multiple>
                            {% for position in theater.get_positions() %}
                            <option value="{{ position.id }}">{{ position.name }}</option>
                            {% endfor %}
                        </select>
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="clearSelect('comment-target-positions')">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" id="comment-submit">Enregistrer</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
