{% extends "theater.html.j2" %}
{% set active = "shows" %}

{% block tab_content %}
<h2>Séances</h2>
{% if shows | length == 0 %}
<div class="alert alert-info" role="alert">
  <i class="fa-solid fa-info-circle me-2"></i>Aucune séance à venir trouvée
  <a class="btn btn-sm btn-primary ms-4" href="{{ url_for('main.add_show', theater_id=theater.id) }}">
    <i class="fa-solid fa-circle-plus me-2"></i>Ajouter une séance
  </a>
</div>

{% else %}
<div class="row">
  <div class="col-md-6">
    <a class="btn btn-sm btn-primary mb-3" href="{{ url_for('main.add_show', theater_id=theater.id) }}">
      <i class="fa-solid fa-circle-plus me-2"></i>Ajouter une séance
    </a>
  </div>
  <div class="col-md-6">
    <div class="row justify-content-md-end">
      <div class=" col-md-8">
        <form class="navbar-form navbar-left" method="get" action="{{ url_for('main.theater_show', theater_id=theater.id) }}">
          <div class="input-group mb-3">
            {{ search_form.q(size=20, class='form-control', placeholder=search_form.q.label.text) }}
            <button class="btn btn-outline-secondary" type="button" id="button-addon2"
              onclick="this.form.elements['q'].value='';this.form.submit();">
              <i class="fa-solid fa-circle-xmark"></i>
            </button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped text-center">
      <thead>
        <tr>
          <th scope="col">Début</th>
          <th scope="col">Fin</th>
          <th scope="col">Salle</th>
          <th scope="col">Film</th>
          <th scope="col">Commentaire</th>
          <th scope="col">Version</th>
          <th scope="col">Type</th>
          <th scope="col">Audio</th>
          <th scope="col">Caché sur internet</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {%- for show in shows %}
        <tr {% if show.start < now %}class="table-secondary" {% endif %}>
          <td>{{ show.start | human_date_short }}</td>
          <td>{{ show.end | human_date_short }}</td>
          <td>{{ show.auditorium.name }}</td>
          <td>
            <a href="{{ url_for('main.fiche_film', id=show.film.id) }}">{{ show.film.title }}</a>{% if show.showtype %}<span class="badge rounded-pill ms-2 text-bg-{{ show.showtype.color }}">{{ show.showtype.name }}</span>{% endif %}
            {% if show.film.rating != "Tout public" %}
            <span class="badge rounded-pill ms-2 text-bg-warning">{{ show.film.rating }}</span>
            {% endif %}
          </td>
          <td>
            {% for comment in show.get_all_comments() + show.film.get_all_comments() %}
              {% set commentarget = "Commentaire de " + comment.comment_type | comment_type_to_string + " pour " %}
              {% if comment.get_target_groups_names() + comment.get_target_positions_names() %}
                {% set commentarget = commentarget + (comment.get_target_groups_names() + comment.get_target_positions_names()) | join(", ") %}
              {% else %}
                {% set commentarget = commentarget + "tout le monde" %}
              {% endif %}
            <div
              class="d-inline-flex px-2{% if not loop.first %} mt-1{% endif %} py-1 border border-primary rounded-2"
              data-bs-toggle="tooltip"
              data-bs-title="{{ commentarget }}"
            >
              {% for line in comment.message.split("\n") %}
              {{ line }}{% if not loop.last %}<br />{% endif %}
              {% endfor %}
            </div>{% if not loop.last %}<br />{% endif %}
            {% endfor %}
          </td>
          <td>{{ show.film_version | human_version(show.film) }}</td>
          <td>{{ show.film_depth }}</td>
          <td>{{ show.film_audio }}</td>
          <td>{{ show.exclude_from_internet | toggle("OUI", "NON") }}</td>
          <td>
            <a class="btn btn-sm btn-primary" href="{{ url_for('main.edit_show', theater_id=theater.id, id=show.id) }}">
              <i class="fa-solid fa-pen"></i>
            </a>
            <a class="btn btn-sm btn-danger deleteShowLink" href="{{ url_for('main.delete_show', theater_id=theater.id, id=show.id) }}">
              <i class="fa-solid fa-trash"></i>
            </a>
          </td>
        </tr>
        {%- endfor %}
      </tbody>
    </table>
    <div class="row">
      <nav aria-label="Film navigation" class="d-flex justify-content-md-center">
        <ul class="pagination pagination-sm">
          <li class="page-item{% if not prev_url %} disabled{% endif %}">
            <a class="page-link" href="{{ prev_url }}">
              <span aria-hidden="true">&larr;</span> Précédents
            </a>
          </li>
          <li class="page-item page-link disabled">{{ pagenum }}</li>
          <li class="page-item{% if not next_url %} disabled{% endif %}">
            <a class="page-link" href="{{ next_url }}">
              Suivants <span aria-hidden="true">&rarr;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
  var deleteLinks = document.getElementsByClassName('deleteShowLink');
  const confirmShowDelete = (ev) => {
    if (!confirm('Êtes-vous sûr de vouloir supprimer cette séance ?')) {
      ev.preventDefault();
    }
  }
  for (var i = 0; i < deleteLinks.length; i++) {
    deleteLinks[i].addEventListener('click', confirmShowDelete, false);
  }
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>
{% endblock %}
