{% extends "theater.html.j2" %}
{% set active = "users" %}

{% block styles %}
{{ super() }}
<style>
  .fa-stack.small {
    font-size: 0.65em;
  }

  i {
    vertical-align: middle;
  }
</style>
{% endblock %}

{% block tab_content %}
<h2>Utilisateurs</h2>
{% if users | length == 0 %}
<div class="alert alert-info" role="alert">
  <i class="fa-solid fa-info-circle me-2"></i>Il n'y a pas d'utilisateur attaché à ce cinéma<br />
  <a class="btn btn-sm btn-primary mt-2 disabled" href="#">
    <i class="fa-solid fa-circle-plus me-2"></i>Inviter un utilisateur
  </a>
</div>

{% else %}
<div class="row">
  <div class="col-md-8">
    <div class="row justify-content-md-end">
      <div class="col-md-6 justify-content-md-start">
        <a class="btn btn-sm btn-primary" href="{{ url_for('main.invite_user', theater_id=theater.id) }}">
          <i class="fa-solid fa-circle-plus me-2"></i>Inviter un utilisateur
        </a>
      </div>
      <div class="col-md-6">
        <form class="navbar-form navbar-left" method="get"
          action="{{ url_for('main.theater_user', theater_id=theater.id) }}">
          <div class="input-group mb-3">
            {{ search_form.q(size=20, class='form-control', placeholder=search_form.q.label.text) }}
            <button class="btn btn-outline-secondary" type="button" id="button-addon2"
              onclick="this.form.elements['q'].value='';this.form.submit();">
              <i class="fa-solid fa-circle-xmark"></i>
            </button>
          </div>
        </form>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Pseudo</th>
          <th scope="col">Prénom</th>
          <th scope="col">Nom</th>
          <th scope="col">Email</th>
          <th scope="col">Groupe</th>
          <th scope="col">Etat</th>
          <th scope="col" colspan="{% if current_user.siteAdmin %}4{% else %}3{% endif %}">Actions</th>
        </tr>
      </thead>
      <tbody>
        {%- for user in users %}
        <tr>
          <td><a href="{{ url_for('main.user_mugshot', theater_id=theater.id, user_id=user.id) }}">{{ user.username }}</a></td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.group.name }}</td>
          <td>{{ user.status | pretty_user_status }}</td>
          <td>
            <a class="btn btn-sm btn-primary" title="Editer"
              href="{{ url_for('main.edit_user', theater_id=theater.id, id=user.id) }}">
              <i class="fa-solid fa-pen"></i>
            </a>
          </td>
          <td>
            {%- if user.status.value == "active" and user.id != current_user.id %}
            <a class="btn btn-sm btn-warning" title="Désactiver"
              href="{{ url_for('main.disable_user', theater_id=theater.id, id=user.id) }}">
              <i class="fa-solid fa-user-slash"></i>
            </a>
            {%- elif user.status.value == "disabled" and user.id != current_user.id %}
            <a class="btn btn-sm btn-warning" title="Activer"
              href="{{ url_for('main.activate_user', theater_id=theater.id, id=user.id) }}">
              <i class="fa-solid fa-user-check"></i>
            </a>
            {%- endif %}
          </td>
          {%- if current_user.siteAdmin %}
          <td>
            {%- if user.id != current_user.id %}
              {%- if user.status.value != "banned" %}
            <a class="btn btn-sm btn-danger" title="Bannir"
              href="{{ url_for('main.ban_user', theater_id=theater.id, id=user.id) }}">
              <span class="fa-stack small">
                <i class="fa-solid fa-user fa-stack-1x"></i>
                <i class="fa-solid fa-ban fa-stack-2x"></i>
              </span>
            </a>
              {%- else %}
            <a class="btn btn-sm btn-warning" title="Activer"
              href="{{ url_for('main.unban_user', theater_id=theater.id, id=user.id) }}">
              <i class="fa-solid fa-user-check"></i>
            </a>
              {%- endif %}
            {%- endif %}
          </td>
          {%- endif %}
          <td>
            {%- if user.id != current_user.id %}
            <a class="btn btn-sm btn-danger deleteUserLink" title="Supprimer"
              href="{{ url_for('main.remove_user', theater_id=theater.id, id=user.id) }}">
              <i class="fa-solid fa-trash"></i>
            </a>
            {%- endif %}
          </td>
        </tr>
        {%- endfor %}
      </tbody>
    </table>
    <div class="row">
      <nav aria-label="User navigation" class="d-flex justify-content-md-center">
        <ul class="pagination pagination-sm">
          <li class="page-item{% if not prev_url %} disabled{% endif %}">
            <a class="page-link" href="{{ prev_url }}">
              <span aria-hidden="true">&larr;</span> Précédents
            </a>
          </li>
          <li class="page-item page-link disabled">{{ pagenum }}</li>
          <li class="page-item{% if not next_url %} disabled{% endif %}">
            <a class="page-link" href="{{ next_url }}">
              Suivants <span aria-hidden="true">&rarr;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
  var elems = document.getElementsByClassName('deleteUserLink');
  const confirmUserDelete = (ev) => {
    if (!confirm('Voulez-vous supprimer l\'utilisateur ?')) {
      ev.preventDefault()
    }
  }
  for (var i = 0, l = elems.length; i < l; i++) {
    elems[i].addEventListener('click', confirmUserDelete, false);
  }
</script>
{% endblock %}
