Chèr(e) {{ user.username }},

Pour réinitialiser votre mot de passe, cliquez sur le lien suivant :

{{ url_for('auth.reset_password', token=token, _external=True) }}

Si vous n'avez pas demandé la réinitialisation de votre mot de passe, ignorez simplement ce message.

L'équipe du cinéma
