<!doctype html>
<html>
    <body>
        <p>Chèr(e) {{ user.username }},</p>
        <p>
            Pour réinitialiser votre mot de passe,
            <a href="{{ url_for('auth.reset_password', token=token, _external=True) }}">
                cliquez ici
            </a>.
        </p>
        <p>Vous pouvez également copier/coller le lien suivant dans la barre d'adresse de votre navigateur :</p>
        <p>{{ url_for('auth.reset_password', token=token, _external=True) }}</p>
        <p>Si vous n'avez pas demandé la réinitialisation de votre mot de passe, ignorez simplement ce message.</p>
        <p>L'équipe du cinéma</p>
    </body>
</html>
