Chèr(e) {{ user.username }},

Pour mettre à jour votre adresse email par {{ new_email }}, cliquez sur le lien suivant :

{{ url_for('auth.update_email', token=token, _external=True) }}

Si vous n'avez pas demandé la modification de votre adresse email, ignorez simplement ce message.

L'équipe du cinéma
