<!doctype html>
<html>
    <body>
        <p>Chèr(e) {{ user.username }},</p>
        <p>
            Pour mettre à jour votre adresse email par {{ new_email }},
            <a href="{{ url_for('auth.update_email', token=token, _external=True) }}">
                cliquez ici
            </a>.
        </p>
        <p>Vous pouvez également copier/coller le lien suivant dans la barre d'adresse de votre navigateur :</p>
        <p>{{ url_for('auth.update_email', token=token, _external=True) }}</p>
        <p>Si vous n'avez pas demandé la modification de votre adresse email, ignorez simplement ce message.</p>
        <p>L'équipe du cinéma</p>
    </body>
</html>
