{% extends "base.html.j2" %}

{% block app_content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1>{{ error_title }}</h1>
    {%- if message %}
    <pre>{{ message }}</pre>
    {%- else %}
    <pre>{{ generic_msg }}</pre>
    {%- endif %}
    <p><a href="{{ url_for('main.index') }}">Retour à l'accueil</a></p>
  </div>
  <div class="col-md-2"></div>
</div>
{% endblock %}
