{% extends "base.html.j2" %}

{% block app_content %}
<div class="d-md-none">
  <div class="row justify-content-md-center">
    <div class="col col-md-8">
      <h1>{{ film.title}}</h1>
      <p>
        {% if film.genre %}{{ film.genre }} -{% endif %}
        {% if film.country %}{{ film.country }} -{% endif %}
        {{ film.duration | human_duration }}
      </p>
      <p>
        {% if film.director %}De&nbsp;: {{ film.director }}<br />{% endif %}
        {% if film.cast %}Avec&nbsp;: {{ film.cast }}{% endif %}
      </p>
    </div>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col col-md-3 p-6 text-center d-flex flex-column justify-content-center">
    {%- if film.posterUrl %}
    <img src="{{ film.posterUrl }}">
    {%- else %}
    <img src=" {{ url_for('main.static', filename='img/poster_unavailable.jpg') }}">
    {%- endif %}
  </div>
  <div class="col col-md-5 d-flex flex-column justify-content-center">
    <div class="d-none d-md-block">
      <h1>{{ film.title}}</h1>
      <p>
        {% if film.genre %}{{ film.genre }} -{% endif %}
        {% if film.country %}{{ film.country }} -{% endif %}
        {{ film.duration | human_duration }}
      </p>
      <p>
        {% if film.director %}De&nbsp;: {{ film.director }}<br />{% endif %}
        {% if film.cast %}Avec&nbsp;: {{ film.cast }}{% endif %}
      </p>
    </div>
    <p class="text-justify">
      {% if film.storyline %}{{ film.storyline | newline_to_br }}{% endif %}
    </p>
  </div>
</div>
{%- if film.trailerUrl %}
<div class="row justify-content-md-center mt-2">
  <div class="col col-md-6 text-center">
    <hr />
    <video width="100%" height="100%" controls>
      <source src="{{ film.trailerUrl }}" type="video/mp4" />
      Download the <a href="/media/cc0-videos/flower.mp4">video</a>.
    </video>
  </div>
</div>
{%- endif %}
<div class="row">&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br /></div>
{% endblock %}
