{% extends "base.html.j2" %}

{% block app_content %}
<h1>Films</h1>
<div class="row justify-content-md-center">
  <div class="col col-lg-6 p-6 text-center d-flex flex-column">

    <div class="row justify-content-md-end">
      <div class=" col-md-5">
        <form class="navbar-form navbar-left" method="get" action="{{ url_for('main.liste_films') }}">
          <div class="input-group mb-3">
            {{ search_form.q(size=20, class='form-control', placeholder=search_form.q.label.text) }}
            <button class="btn btn-outline-secondary" type="button" id="button-addon2"
              onclick="this.form.elements['q'].value='';this.form.submit();">
              <i class="fa-solid fa-circle-xmark"></i>
            </button>
          </div>
        </form>
      </div>
    </div>

    <table class="table table-striped text-start align-middle">
      <thead>
        <tr>
          <th scope="col">Titre</th>
          <th scope="col">Réalisateur</th>
          <th scope="col">Acteurs principaux</th>
        </tr>
      </thead>
      <tbody>
        {% for film in films %}
        <tr>
          <td>
            <a href="{{ url_for('main.fiche_film', id=film.id) }}">{{ film.title }}</a>
          </td>
          <td>{% if film.director %}{{ film.director }}{% endif %}</td>
          <td>{% if film.cast %}{{ film.cast }}{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="row">
      <nav aria-label="Film navigation" class="d-flex justify-content-md-center">
        <ul class="pagination pagination-sm">
          <li class="page-item{% if not prev_url %} disabled{% endif %}">
            <a class="page-link" href="{{ prev_url }}">
              <span aria-hidden="true">&larr;</span> Précédents
            </a>
          </li>
          <li class="page-item page-link disabled">{{ pagenum }}</li>
          <li class="page-item{% if not next_url %} disabled{% endif %}">
            <a class="page-link" href="{{ next_url }}">
              Suivants <span aria-hidden="true">&rarr;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
{% endblock %}
