{% extends "base.html.j2" %}

{% block app_content %}
<h1>Bonjour {{ current_user.first_name }} !</h1>

{# Display active MOTDs for current user #}
{% set active_motds = current_user.theater.get_motds_for_user(current_user) %}
{% for motd in active_motds %}
<div class="alert alert-{{ motd.color }}" role="alert">
  {%- for line in motd.message.splitlines() -%}
    {{- line -}}
    {%- if not loop.last -%}<br>{%- endif -%}
  {%- endfor -%}
</div>
{% endfor %}

<h2>Menu</h2>
<ul>
  <li><a href="{{ url_for('main.show_index') }}">Séances</a></li>
  <li><a href="{{ url_for('main.my_shows') }}">Mes séances</a></li>
  <br />
  <li><a href="{{ url_for('main.mugshots', theater_id=current_user.theater.id) }}">Trombinoscope</a></li>
  <br />
  <li><a href="{{ url_for('main.liste_films') }}">Liste des films en base (tous cinémas)</a></li>
  <li><a href="{{ url_for('main.fiche_film', id=40) }}">Exemple fiche film</a></li>
</ul>
{% endblock %}
