{% extends "base.html.j2" %}

{% block app_content %}
<div class="container">
    <h2>Trombinoscope</h2>

    <div class="mb-3">
        <label for="groupFilter" class="form-label">Filtrer par poste :</label>
        <select class="form-select" id="groupFilter">
            <option value="">Tous les postes</option>
            {% for pos in positions | sort(attribute='name') %}
            <option value="{{ pos.name }}">{{ pos.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4" id="mugshotGrid">
        {% for user in users %}
        <div class="col user-card" data-group="{{ user.get_assignable_positions_names() | join('-') }}">
            <div class="card h-100">
                {% if user.profile_picture %}
                <img src="{{ user.profile_picture }}" class="mugshot-img-top" alt="{{ user.full_name }}">
                {% else %}
                <img src="{{ url_for('static', filename='images/photo_not_available.png') }}" class="mugshot-img-top" alt="{{ user.full_name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ user.full_name }}</h5>
                    <p>
                      <strong><i class="fa-solid fa-user-group me-2"></i></strong>{{ user.group.name }}<br />
                      {% if user.get_assignable_positions_names() | length > 0 %}
                      <strong><i class="fa-solid fa-user-tag me-2"></i></strong>{{ user.get_assignable_positions_names() | join(', ') }}
                      {% endif %}
                    </p>
                    <p class="card-text">
                        {% if user.email %}
                        <strong><i class="fa-solid fa-envelope me-2"></i></strong>{{ user.email }}<br />
                        {% endif %}
                        {% if user.telephone %}
                        <strong><i class="fa-solid fa-phone me-2"></i></strong>{{ user.telephone | pretty_phone }}<br />
                        {% endif %}
                        {% if user.mobile_phone %}
                        <strong><i class="fa-solid fa-mobile-screen me-2"></i></strong> {{ user.mobile_phone | pretty_phone }}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
document.getElementById('groupFilter').addEventListener('change', function() {
    const selectedGroup = this.value;
    const cards = document.querySelectorAll('.user-card');

    cards.forEach(card => {
        const cardGroups = card.dataset.group.split('-');
        if (!selectedGroup || cardGroups.includes(selectedGroup)) {
            card.style.display = '';
        } else {
            card.style.display = 'none';
        }
    });
});
</script>
{% endblock %}
