{% extends "base.html.j2" %}

{% block app_content %}
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-md-center" id="mugshotGrid">
      <div class="col user-card" data-group="{{ user.get_assignable_positions_names() | join('-') }}">
          <div class="card h-100">
              {% if user.profile_picture %}
              <img src="{{ user.profile_picture }}" class="mugshot-img-top" alt="{{ user.full_name }}">
              {% else %}
              <img src="{{ url_for('static', filename='images/photo_not_available.png') }}" class="mugshot-img-top" alt="{{ user.full_name }}">
              {% endif %}
              <div class="card-body">
                  <h5 class="card-title">{{ user.full_name }}</h5>
                  <p>
                    <strong><i class="fa-solid fa-user-group me-2"></i></strong>{{ user.group.name }}<br />
                    {% if user.get_assignable_positions_names() | length > 0 %}
                    <strong><i class="fa-solid fa-user-tag me-2"></i></strong>{{ user.get_assignable_positions_names() | join(', ') }}
                    {% endif %}
                  </p>
                  <p class="card-text">
                      {% if user.email %}
                      <strong><i class="fa-solid fa-envelope me-2"></i></strong>{{ user.email }}<br />
                      {% endif %}
                      {% if user.telephone %}
                      <strong><i class="fa-solid fa-phone me-2"></i></strong>{{ user.telephone | pretty_phone }}<br />
                      {% endif %}
                      {% if user.mobile_phone %}
                      <strong><i class="fa-solid fa-mobile-screen me-2"></i></strong> {{ user.mobile_phone | pretty_phone }}
                      {% endif %}
                  </p>
              </div>
          </div>
        <a href="javascript:history.back()" class="btn btn-sm btn-primary mt-2"><i class="fa-solid fa-arrow-left me-2"></i> Retour</a>
      </div>
    </div>
</div>
{% endblock %}
