{% extends "base.html.j2" %}

{% block app_content %}
<h1>Séances</h1>
{% if shows | length == 0 %}
<div class="alert alert-info" role="alert">
  <i class="fa-solid fa-info-circle me-2"></i>Aucune séance à venir<br />
</div>
{% else %}
{%- set assignable_positions = [] %}
{%- set other_positions = [] %}
{%- for p in theater.get_positions() if current_user.group.get_permission_for(p).name != "NONE" %}
  {%- if current_user in p.get_assignable_users() %}
    {%- do assignable_positions.append(p) %}
  {%- else %}
    {%- do other_positions.append(p) %}
  {%- endif %}
{%- endfor %}
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped text-center align-middle">
      <thead>
        <tr>
          <th scope="col">Séance</th>
          <th scope="col">Film</th>
          <th scope="col">Version Audio</th>
          <th scope="col">Commentaires</th>
          <th scope="col">Postes Accessibles</th>
          {%- if other_positions %}
          <th scope="col">
            Autres postes
            <a class="btn btn-sm btn-primary" href="#" id="showAllPositions" onclick="showAllPositions(this)">
              <i class="fa-solid fa-eye"></i>
            </a>
          </th>
          {%- endif %}
        </tr>
      </thead>
      <tbody>
        {%- for show in shows %} {# for shows #}
          {%- set assignations = show.get_assignations_by_position_name() %}
          {%- set ns = namespace(assignation_names=[]) %}
          {%- for p, a in assignations.items() %}
            {%- set ns.assignation_names = ns.assignation_names + [a.user.username] %}
          {%- endfor %}
        <tr
          {%- if show.start < now %}
          class="table-secondary"
          {% elif current_user.username in ns.assignation_names %}
          class="table-info"
          {% endif %}
        >
          <td>{{ show.start | human_date_short }}</td>
          <td>
            <a href="{{ url_for('main.fiche_film', id=show.film.id) }}">{{ show.film.title }}{% if show.showtype %}<span class="badge rounded-pill ms-2 text-bg-{{ show.showtype.color }}">{{ show.showtype.name }}</span>{% endif %}</a>
            {% if show.film.rating != "Tout public" %}
            <span class="badge rounded-pill ms-2 text-bg-warning">{{ show.film.rating }}</span>
            {% endif %}
          </td>
          <td>{{ show.film_version | human_version(show.film) }}</td>
          <td>
            {% for comment in show.get_comments_for_user(current_user) + show.film.get_comments_for_user(current_user) %}
            <div class="d-inline-flex px-2 py-1{% if not loop.first %} mt-1{% endif %} border border-primary rounded-2">
              {% for line in comment.message.split("\n") %}
              {{ line }}{% if not loop.last %}<br />{% endif %}
              {% endfor %}
            </div>{% if not loop.last %}<br />{% endif %}
            {% endfor %}
          </td>
          <td class="text-start"> {# accessible positions #}
              {%- for p in assignable_positions %} {# for position #}
              <p class="mb-1 collapse{% if current_user in p.get_assignable_users() %} show{% endif %}" id="showPosition-{{ p.id }}">
                {{ p.name }} :
                {%- if assignations.get(p.name) %}  {# if assigned #}
                <span id="userassigned-{{ show.id }}-{{ p.id }}">
                  <a href="{{ url_for('main.user_mugshot', theater_id=theater.id, user_id=assignations.get(p.name).user.id) }}">
                    {{ assignations.get(p.name).user.full_name }}
                  </a>
                </span>
                {%- if show.start > now and
                    assignations.get(p.name).user == current_user and
                    current_user.group.get_permission_for(p).name == "TAKE"
                %} {# if can_release #}
                <a class="btn btn-sm btn-primary" id="release-{{ show.id }}-{{ p.id }}" href="{{ url_for('main.release_show', show_id=show.id, position_id=p.id) }}">
                  Libérer
                </a>
                {%- endif %} {# if can_release #}
                {%- if show.start > now and
                    current_user in p.get_assignable_users() and
                    current_user.group.get_permission_for(p).name == "ASSIGN"
                %} {# if can_assign #}
                <a class="btn btn-sm btn-primary" id="take-{{ show.id }}-{{ p.id }}" href="{{ url_for('main.take_show', show_id=show.id, position_id=p.id) }}" hidden>
                  Prendre
                </a>
                <a class="btn btn-sm btn-primary" id="release-{{ show.id }}-{{ p.id }}" href="{{ url_for('main.release_show', show_id=show.id, position_id=p.id) }}" {% if assignations.get(p.name).user != current_user %}hidden{% endif %}>
                  Libérer
                </a>
                {%- endif %} {# if can_assign #}
                {%- else %}  {# if assigned #}
                <span id="userassigned-{{ show.id }}-{{ p.id }}">-</span>
                {%- if show.start > now and
                    current_user.group.get_permission_for(p).name in ["TAKE", "ASSIGN"] and
                    current_user in p.get_assignable_users()
                %} {# if can_take #}
                <a class="btn btn-sm btn-primary" id="take-{{ show.id }}-{{ p.id }}" href="{{ url_for('main.take_show', show_id=show.id, position_id=p.id) }}">
                  Prendre
                </a>
                {%- endif %} {# if can_take #}
                {%- endif %}  {# if assigned #}
                {%- if show.start > now and current_user.group.get_permission_for(p).name == "ASSIGN" %} {# if can_assign #}
                {# <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#assign-{{ show.id }}-{{ p.id }}" aria-expanded="false" aria-controls="assign-{{ show.id }}-{{ p.id }}"> #}
                <a class="text-danger" data-bs-toggle="collapse" data-bs-target="#assign-{{ show.id }}-{{ p.id }}" role="button" aria-expanded="false" aria-controls="assign-{{ show.id }}-{{ p.id }}">
                  <i class="fa-solid fa-pencil"></i>
                </a>
                {# </button> #}
                <div class="collapse" id="assign-{{ show.id }}-{{ p.id }}">
                  <select class="form-select form-select-sm" data-show-id="{{ show.id }}" data-position-id="{{ p.id }}" onchange="applyAssignation(this)">
                    <option value="0" {% if not assignations.get(p.name) %} selected{% endif %}>-</option>
                    {% for user in p.get_assignable_users() | sort(attribute="full_name") %} {# for assignable_user #}
                    <option value="{{ user.id }}-{{ user.full_name }}" {%- if assignations.get(p.name) and user.username==assignations.get(p.name).user.username %} selected{% endif %}>
                      {{ user.full_name }}
                    </option>
                    {%- endfor %} {# for assignable_user #}
                  </select>
                </div>
                {%- endif %} {# if can_assign #}
              </p>
              {%- endfor %}
          </td>
          {%- if other_positions %}
          <td class="text-start"> {# other positions #}
            <button class="btn btn-sm btn-primary other-positions-show-button" type="button" id="showPosition-{{ show.id }}-button" data-bs-toggle="collapse" data-bs-target="#showPosition-{{ show.id }}" aria-expanded="false" aria-controls="showPosition-{{ show.id }}">
              <i class="fa-solid fa-eye"></i>
            </button>
            <div class="collapse other-positions-collapse" id="showPosition-{{ show.id }}">
              {%- for p in other_positions %} {# for position #}
                <p class="mb-1">
                  {{ p.name }} :
                  {%- if assignations.get(p.name) %}  {# if assigned #}
                  <span id="userassigned-{{ show.id }}-{{ p.id }}">
                    <a href="{{ url_for('main.user_mugshot', theater_id=theater.id, user_id=assignations.get(p.name).user.id) }}">
                      {{ assignations.get(p.name).user.full_name }}
                    </a>
                  </span>
                  {%- else %}  {# if assigned #}
                  <span id="userassigned-{{ show.id }}-{{ p.id }}">-</span>
                  {%- endif %}  {# if assigned #}
                  {%- if show.start > now and current_user.group.get_permission_for(p).name == "ASSIGN" %} {# if can_assign #}
                  {# <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#assign-{{ show.id }}-{{ p.id }}" aria-expanded="false" aria-controls="assign-{{ show.id }}-{{ p.id }}"> #}
                  <a class="text-danger" data-bs-toggle="collapse" data-bs-target="#assign-{{ show.id }}-{{ p.id }}" role="button" aria-expanded="false" aria-controls="assign-{{ show.id }}-{{ p.id }}">
                    <i class="fa-solid fa-pencil"></i>
                  </a>
                  {# </button> #}
                  <div class="collapse" id="assign-{{ show.id }}-{{ p.id }}">
                    <select class="form-select form-select-sm" data-show-id="{{ show.id }}" data-position-id="{{ p.id }}" onchange="applyAssignation(this)">
                      <option value="0" {% if not assignations.get(p.name) %} selected{% endif %}>-</option>
                      {% for user in p.get_assignable_users() | sort(attribute="full_name") %} {# for assignable_user #}
                      <option value="{{ user.id }}-{{ user.full_name }}" {%- if assignations.get(p.name) and user.username==assignations.get(p.name).user.username %} selected{% endif %}>
                        {{ user.full_name }}
                      </option>
                      {%- endfor %} {# for assignable_user #}
                    </select>
                  </div>
                  {%- endif %} {# if can_assign #}
                </p>
                {%- endfor %} {# for position #}
            </div>
          </td>
          {%- endif %}
        </tr>
        {%- endfor %} {# for shows #}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
  const applyAssignation = (select) => {
    const show = select.dataset.showId;
    const position = select.dataset.positionId;
    const userId = select.value.split("-")[0];
    var username = select.value.split("-")[1];
    if (username === undefined) username = "-";
    const url = `/show/${show}/${position}/assign/${userId}`
    fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      }
    }).then(response => response.json()).then(data => {
      if (!data.ok) {
        alert(data.message);
        // We reload to refresh state
        // We use force-reload here (true) to avoid the browser trying to keep
        // form values and mangle them because we added or removed text inputs
        window.location.reload(true)
      } else {
        // Update user assigned
        const element = document.getElementById(`userassigned-${show}-${position}`);
        if (userId !== "0") {
          element.innerHTML = `<a href="/theater/{{ theater.id }}/user/${userId}/mugshot">${username}</a>`;
        } else {
          element.innerHTML = username;
        }
        // Collapse div with id assign-${show}-${position}
        const bsCollapse = new bootstrap.Collapse(`#assign-${show}-${position}`, {
          toggle: false
        })
        bsCollapse.hide();
        const takeButton = document.getElementById(`take-${show}-${position}`);
        const releaseButton = document.getElementById(`release-${show}-${position}`);
        if (userId === "0") {
          if (takeButton) {
            takeButton.hidden = false;
          }
        } else {
          if (takeButton) {
            takeButton.hidden = true;
          }
        }
        if (userId === "{{ current_user.id }}") {
          if (releaseButton) {
            releaseButton.hidden = false;
          }
        } else {
          if (releaseButton) {
            releaseButton.hidden = true;
          }
        }
      }
    }).catch(error => {
      console.error(error);
      alert("Une erreur s'est produite");
      // We reload to refresh state
      // We use force-reload here (true) to avoid the browser trying to keep
      // form values and mangle them because we added or removed text inputs
      window.location.reload(true)

    });
  }

  const showAllPositions = (elem) => {
    const collapseElementList = document.querySelectorAll('.other-positions-collapse')
    for (const collapseEl of collapseElementList) {
      const bsCollapse = new bootstrap.Collapse(collapseEl, {
        toggle: false
      })
      bsCollapse.toggle();
    }
    if (elem.innerHTML.includes("fa-eye-slash")) {
      elem.innerHTML = "<i class='fa-solid fa-eye'></i>";
      const collapsebuttons = document.querySelectorAll('.other-positions-show-button');
      for (const button of collapsebuttons) {
        button.hidden = false;
      }
    } else {
      elem.innerHTML = "<i class='fa-solid fa-eye-slash'></i>";
      const collapsebuttons = document.querySelectorAll('.other-positions-show-button');
      for (const button of collapsebuttons) {
        button.hidden = true;
      }
    }
  }

  $(document).ready(function () {
    const collapseElementList = document.querySelectorAll('.other-positions-collapse')
    for (const collapseEl of collapseElementList) {
      const showId = collapseEl.id.split("-")[1];
      const button = document.getElementById(`showPosition-${showId}-button`);
      collapseEl.addEventListener('show.bs.collapse', () => {
        button.innerHTML = "<i class='fa-solid fa-eye-slash'></i>";
      });
      collapseEl.addEventListener('hide.bs.collapse', () => {
        button.innerHTML = "<i class='fa-solid fa-eye'></i>";
      });
    }
  });
</script>
{% endblock %}
