{% extends "base.html.j2" %}
{% import "bootstrap_wtf.html.j2" as wtf %}

{% block app_content %}
<h1>{{ header }}</h1>
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <form action="" method="post" enctype="multipart/form-data" novalidate>
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}
                {% if field.name == 'profile_picture_file' and form.original_user and form.original_user.profile_picture %}
                    {%- set render_kw = field.render_kw %}
                    {%- if render_kw %}
                        {%- set baseclass = render_kw.get("class", "") %}
                    {%- else %}
                        {%- set baseclass = "" %}
                    {%- endif %}
                    <div class="mb-3">
                        {{ field.label(class='form-label') }}
                        <div>
                            <img src="{{ form.original_user.profile_picture }}"
                                 alt="Photo de profil"
                                 class="img-thumbnail"
                                 style="max-width: 200px; margin-bottom: 10px;">
                        </div>
                        {{ field(class='form-control ' + ('is-invalid ' if field.errors else '') + baseclass) }}
                        {%- for error in field.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                        {%- endfor %}
                    </div>
                {% else %}
                    {{ wtf.form_field(field) }}
                {% endif %}
            {% endfor %}
        </form>
    </div>
</div>
{% endblock %}
