{% extends "base.html.j2" %}

{% block app_content %}
<h1>{{ theater.name }} - {{ theater.city }}</h1>

<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a class="nav-link{% if active == 'index' %} active{% endif %}"
      href="{{ url_for('main.theater_index', theater_id=theater.id) }}">Informations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if active == 'shows' %} active{% endif %}"
      href="{{ url_for('main.theater_show', theater_id=theater.id) }}" aria-disabled="true">Séances</a>
  </li>
  <li class="nav-item"></li>
    <a class="nav-link{% if active == 'showtypes' %} active{% endif %}" aria-current="page"
      href="{{ url_for('main.theater_showtype', theater_id=theater.id) }}">Types de séance</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if active == 'auditoriums' %} active{% endif %}" aria-current="page"
      href="{{ url_for('main.theater_auditorium', theater_id=theater.id) }}">Salles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if active == 'positions' %} active{% endif %}"
      href="{{ url_for('main.theater_position', theater_id=theater.id) }}" aria-disabled="true">Postes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if active == 'users' %} active{% endif %}" aria-current="page"
      href="{{ url_for('main.theater_user', theater_id=theater.id) }}">Utilisateurs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if active == 'groups' %} active{% endif %}"
      href="{{ url_for('main.theater_group', theater_id=theater.id) }}" aria-disabled="true">Groupes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if active == 'motd' %} active{% endif %}"
      href="{{ url_for('main.theater_motd', theater_id=theater.id) }}" aria-disabled="true">Messages</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if active == 'data_import' %} active{% endif %}"
      href="{{ url_for('main.theater_data_import', theater_id=theater.id) }}" aria-disabled="true">Import de données</a>
  </li>
</ul>

{% block tab_content%}{% endblock %}
{% endblock %}
