<p>Bonjour{% if user.first_name %} {{ user.first_name }}{% endif %},</p>

<p>Vous avez été invité(e) à rejoindre la plateforme de gestion du cinéma {{ user.theater.name }}.</p>

<p>Pour activer votre compte, veuillez cliquer sur le lien suivant :</p>

<p><a href="{{ url_for('auth.validate_invitation', token=token, _external=True) }}">Activer mon compte</a></p>

<p>Ce lien expirera dans 7 jours.</p>

<p>Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet email.</p>
