{% extends "base.html.j2" %}
{% import "bootstrap_wtf.html.j2" as wtf %}

{% block app_content %}
<h1>Connexion</h1>
<div class="row">
  <div class="col-md-4">
    {{ wtf.quick_form(form) }}
  </div>
  <p>
    Mot de passe oublié ?
    <a href="{{ url_for('auth.reset_password_request') }}">Réinitialisation</a>
  </p>
</div>
{% endblock %}
