{% extends "base.html.j2" %}
{% import "bootstrap_wtf.html.j2" as wtf %}

{% block app_content %}
<h1>Utilisateur : {{ current_user.username }}</h1>
<div class="row justify-content-md-center">
  <div class="col-md-4">
    <p>
      <strong>Prénom :</strong> {{ current_user.first_name if current_user.first_name is not none else "Non défini" }}<br />
      <strong>Nom :</strong> {{ current_user.last_name  if current_user.last_name is not none else "Non défini" }}<br />
      <strong>Email :</strong> {{ current_user.email }}
      <a class="btn btn-primary btn-sm" href="{{ url_for('auth.update_email_request') }}">
        <i class="fa-solid fa-envelope me-2"></i>Modifier
      </a><br />
      <strong>Mot de passe : </strong>
      <a class="btn btn-primary btn-sm" href="{{ url_for('auth.update_password') }}">
        <i class="fa-solid fa-lock me-2"></i>Modifier
      </a>
    </p>
    <form action="" method="post" enctype="multipart/form-data" novalidate>
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
          {% if field.name == 'profile_picture_file' and form.original_user and form.original_user.profile_picture %}
              {%- set render_kw = field.render_kw %}
              {%- if render_kw %}
                  {%- set baseclass = render_kw.get("class", "") %}
              {%- else %}
                  {%- set baseclass = "" %}
              {%- endif %}
              <div class="mb-3">
                  {{ field.label(class='form-label') }}
                  <div>
                      <img src="{{ form.original_user.profile_picture }}"
                            alt="Photo de profil"
                            class="img-thumbnail"
                            style="max-width: 200px; margin-bottom: 10px;">
                  </div>
                  {{ field(class='form-control ' + ('is-invalid ' if field.errors else '') + baseclass) }}
                  {%- for error in field.errors %}
                  <div class="invalid-feedback">{{ error }}</div>
                  {%- endfor %}
              </div>
          {% else %}
              {{ wtf.form_field(field) }}
          {% endif %}
      {% endfor %}
  </form>
  </div>
</div>


<hr>
<p>
  Mon cinéma : {{ current_user.theater.name }} à {{ current_user.theater.city }}<br />
  Je fais partie du groupe : {{ current_user.group.name }}
</p>
{% endblock %}
