{% extends "base.html.j2" %}
{% import "bootstrap_wtf.html.j2" as wtf %}

{% block app_content %}
<h1>Demande de modification d'adresse email</h1>
<div class="col-md-4">
  {{ wtf.quick_form(form) }}
</div>
{% endblock %}
