{% extends "base.html.j2" %}
{% import "bootstrap_wtf.html.j2" as wtf %}

{% block app_content %}
<h1>Définir votre mot de passe</h1>
<div class="row">
  <div class="col-md-4">
    {{ wtf.quick_form(form) }}
  </div>
</div>
{% endblock %}
