<!doctype html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block styles %}
  <!-- Bootstrap CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <!-- FontAwesome CSS -->
  <link href="{{ url_for('static', filename='vendor/fontawesome/css/fontawesome.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/fontawesome/css/brands.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/fontawesome/css/solid.css') }}" rel="stylesheet">
  <!-- our own CSS -->
  <link href="{{ url_for('static', filename='css/cine.css') }}" rel="stylesheet">
  {% endblock %}

  <title>{% if title %}{{ title }} - {{ app.name }}{% else %}Bienvenue à {{ app.name }}{% endif %}</title>
  {% endblock %}

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
  {% block navbar %}
  <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('main.index') }}">
        <i class="fa-solid fa-2x fa-clapperboard me-2 align-middle"></i>
        {{ app.name }}<span class="small text-secondary ms-1"><sup>{{ app.version }}</sup></span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <div class="vr d-none d-lg-block"></div>
          <hr class="d-block d-lg-none">
          {%- if not current_user.is_anonymous %}
          <li class="nav-item">
            {% if current_user.is_theater_admin(current_user.theater) %}
            <a class="nav-link active" aria-current="page" href="{{ url_for('main.theater_index', theater_id=current_user.theater.id) }}">
            {%- else %}
            <a class="nav-link active" aria-current="page" href="{{ url_for('main.index') }}">
            {%- endif %}
              <i class="fa-solid fa-film me-2"></i>
              Cinéma {{ current_user.theater.name }} ({{ current_user.theater.city }})
            </a>
          </li>
          {%- endif %}
        </ul>
        <div class="d-flex">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <div class="vr d-none d-lg-block"></div>
            <hr class="d-block d-lg-none">
            {% if current_user.is_anonymous %}
            <li class="navbar-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('auth.login') }}">
                <i class="fa-solid fa-right-to-bracket me-2"></i>Connexion
              </a>
            </li>
            {% else %}
              {%- if current_user.siteAdmin %}
            <li class="navbar-item">
              <a class="nav-link active" aria-current=" page" href="{{ url_for('admin.home') }}">
                <i class="fa-solid fa-gear me-2"></i>Administration
              </a>
            </li>
            <div class="vr d-none d-lg-block"></div>
            <hr class="d-block d-lg-none">
              {%- endif %}
            <li class="navbar-item d-block d-lg-none">
              <a class="nav-link active" aria-current=" page" href="{{ url_for('auth.profile') }}">
                <i class="fa-solid fa-user-cog me-1"></i>Profil
              </a>
            </li>
            <li class="navbar-item d-block d-lg-none"></li>
              <a class="nav-link active" aria-current=" page" href="{{ url_for('auth.logout') }}">
                <i class="fa-solid fa-right-from-bracket me-2"></i>Déconnexion
              </a>
            </li>
            <li class="nav-item dropdown d-none d-lg-block">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fa-solid fa-user me-2"></i>{{ current_user.full_name }}
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" aria-current="page" href="{{ url_for('auth.profile') }}"><i
                      class="fa-solid fa-user-cog me-1"></i>Profil</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <a class="dropdown-item" aria-current=" page" href="{{ url_for('auth.logout') }}">
                    <i class="fa-solid fa-right-from-bracket me-2"></i>Déconnexion
                  </a>
                </li>
              </ul>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </nav>
  {% endblock %}

  {% block content %}
  <div class="container-fluid mt-4">
    {% block breadcrumb %}{% endblock %}

    {%- with messages = get_flashed_messages(with_categories=true) %}
    {%- if messages %}
    {%- for category, message in messages %}
    {%- if category == 'error' %}
    <div class="alert alert-danger"><i class="fas fa-exclamation-triangle"></i>
      {%- elif category == 'success' %}
      <div class="alert alert-success"><i class="fas fa-check-circle"></i>
        {%- else %}
        <div class="alert alert-info"><i class="fas fa-info-circle"></i>
          {%- endif %}
          {%- if message is iterable and (message is not string and message is not mapping) %}
          <div>
            {%- for line in message %}
            {{ line | safe }}<br />
            {%- endfor %}
          </div>
          {%- else %}
          {{ message }}
          {%- endif %}
        </div>
        {%- endfor %}
        {%- endif %}
        {%- endwith %}
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
      </div>
      {% endblock%}

      <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
      {% block scripts %}{% endblock %}
</body>

</html>
