{% macro form_field(field, autofocus) %}
{%- set render_kw = field.render_kw %}
{%- if render_kw %}
{%- set baseclass = render_kw.get("class", "") %}
{%- else %}
{%- set baseclass = "" %}
{%- endif %}
  {%- if field.type == 'BooleanField' %}
  <div class="form-check mb-3">
    {{ field(class='form-check-input') }}
    {{ field.label(class='form-check-label ' + baseclass) }}
  </div>
  {%- elif field.type == 'RadioField' %}
  <div class="mb-3">
    {{ field.label(class='form-label ' + ('is-invalid ' if field.errors else '') + baseclass) }}
    {%- for error in field.errors %}
    <div class="invalid-feedback">{{ error }}</div>
    {%- endfor %}
    {%- for item in field %}
    <div class="form-check{% if loop.last %} mb-3{% endif %}">
      {{ item(class='form-check-input ' + ('is-invalid ' if field.errors else '') + baseclass) }}
      {%- if render_kw.get("label_safe_html") %}
        <label class="form-check-label {{ baseclass }}" for="{{ item.id }}">{{ item.label.text | safe }}</label>
      {%- else %}
        {{ item.label(class='form-check-label ' + baseclass) }}
      {%- endif %}
    </div>
    {%- endfor %}
  </div>
  {%- elif field.type == 'SelectField' %}
    {{ field.label(class='form-label ' + baseclass) }}
    {{ field(class='form-select mb-3 ' + baseclass) }}
  {%- elif field.type == 'TextAreaField' %}
  <div class="mb-3">
    {{ field.label(class='form-label ' + baseclass) }}
    {%- if autofocus %}
      {{ field(class='form-control ' + ('is-invalid ' if field.errors else '') + baseclass, autofocus=True) }}
    {%- else %}
      {{ field(class='form-control ' + ('is-invalid ' if field.errors else '' + baseclass)) }}
    {%- endif %}
    {%- for error in field.errors %}
    <div class="invalid-feedback">{{ error }}</div>
    {%- endfor %}
  </div>
  {%- elif field.type == 'SubmitField' %}
  {{ field(class='btn btn-primary mb-3 ' + baseclass) }}
  {%- else %}
  <div class="mb-3">
    {{ field.label(class='form-label') }}
    {%- if autofocus %}
      {{ field(class='form-control ' + ('is-invalid ' if field.errors else '') + baseclass, autofocus=True) }}
    {%- else %}
      {{ field(class='form-control ' + ('is-invalid ' if field.errors else '') + baseclass) }}
    {%- endif %}
    {%- for error in field.errors %}
    <div class="invalid-feedback">{{ error }}</div>
    {%- endfor %}
  </div>
  {%- endif %}
{% endmacro %}

{% macro quick_form(form, action="", method="post", id="", novalidate=False) %}
<form novalidate
  {%- if action != None %} action="{{ action }}"{% endif -%}
  {%- if method %} method="{{ method }}"{% endif %}
  {%- if id %} id="{{ id }}"{% endif -%}
  {%- if novalidate %} novalidate{% endif -%}>
  {{ form.hidden_tag() }}
  {%- for field, errors in form.errors.items() %}
    {%- if form[field].widget.input_type == 'hidden' %}
      {%- for error in errors %}
      <div class="invalid-feedback">{{ error }}</div>
      {%- endfor %}
    {%- endif %}
  {%- endfor %}

  {% set ns = namespace(first_field=true) %}
  {%- for field in form %}
    {% if field.widget.input_type != 'hidden' -%}
      {{ form_field(field, ns.first_field) }}
      {% set ns.first_field = false %}
    {%- endif %}
  {%- endfor %}
</form>
{% endmacro %}
